<h1>New User</h1>

<form action="/users" method="post">
  <div>
    First Name: <input type="text" name="first_name">
  </div><br>
  <div>
    Last Name: <input type="text" name="last_name">
  </div><br>
  <div>
    Email: <input type="text" name="email">
  </div><br>
  <div>
    City: <input type="text" name="location">
  </div><br>
  <input type="submit" value="Create Profile">
</form>
